flows_raspberrypi.json
[
    {
        "id": "f7e611e7.f7e29",
        "type": "tab",
        "label": "sample",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3227eaa8.784766",
        "type": "tab",
        "label": "led",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ef29a490.8c5248",
        "type": "tab",
        "label": "arm",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3bbf7a3e.009356",
        "type": "tab",
        "label": "translation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1bffdaa7.d437a5",
        "type": "tab",
        "label": "speaker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bb6967e4.8c1998",
        "type": "tab",
        "label": "camera",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ef7b8d90.83f31",
        "type": "tab",
        "label": "twitter",
        "disabled": true,
        "info": ""
    },
    {
        "id": "e2d5a234.d2c46",
        "type": "subflow",
        "name": "control led",
        "info": "",
        "category": "Raspberry Pi",
        "in": [
            {
                "x": 40,
                "y": 100,
                "wires": [
                    {
                        "id": "b0d11225.80d6d"
                    },
                    {
                        "id": "dd44f6be.0cf958"
                    },
                    {
                        "id": "2e6176b3.9ce01a"
                    }
                ]
            }
        ],
        "out": [],
        "icon": "node-red/rpi.png"
    },
    {
        "id": "251f4adb.2bd746",
        "type": "subflow",
        "name": "control arm",
        "info": "",
        "category": "Raspberry Pi",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "44476a97.062544"
                    },
                    {
                        "id": "659774de.295cdc"
                    }
                ]
            }
        ],
        "out": [],
        "icon": "node-red/rpi.png"
    },
    {
        "id": "a9d7d1ca.ce4d8",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "b95c41a4.d3159"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 240,
                "y": 40,
                "wires": [
                    {
                        "id": "b95c41a4.d3159",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "696e250f.2063bc",
        "type": "subflow",
        "name": "Subflow 2",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "5ba664f0.ecd94c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 240,
                "y": 40,
                "wires": [
                    {
                        "id": "5ba664f0.ecd94c",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "efcc6f7c.a2031",
        "type": "websocket-client",
        "z": "",
        "path": "ws://tjbotfan.mybluemix.net/tjbot",
        "tls": "",
        "wholemsg": "true"
    },
    {
        "id": "6a4926b0.cde0e8",
        "type": "image-caption-generator-service",
        "z": "ef7b8d90.83f31",
        "host": "https://max-image-caption-generator.max.us-south.containers.appdomain.cloud",
        "name": "cloud"
    },
    {
        "id": "4670b6d1.27d838",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "2611d96b.5b0f96",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2611d96b.5b0f96",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "19f31f76.7eda21",
        "type": "image-caption-generator-service",
        "z": "",
        "host": "https://max-image-caption-generator.max.us-south.containers.appdomain.cloud",
        "name": "cloud"
    },
    {
        "id": "4be72e9c.9970c",
        "type": "rpi-gpio out",
        "z": "e2d5a234.d2c46",
        "name": "Pin15: red",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "18584bb5.b68834",
        "type": "rpi-gpio out",
        "z": "e2d5a234.d2c46",
        "name": "Pin16: green",
        "pin": "16",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "3395242d.5654cc",
        "type": "rpi-gpio out",
        "z": "e2d5a234.d2c46",
        "name": "Pin18: blue",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "b0d11225.80d6d",
        "type": "change",
        "z": "e2d5a234.d2c46",
        "name": "payload = payload.r",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.r",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 40,
        "wires": [
            [
                "4be72e9c.9970c"
            ]
        ]
    },
    {
        "id": "dd44f6be.0cf958",
        "type": "change",
        "z": "e2d5a234.d2c46",
        "name": "payload = payload.g",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.g",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "18584bb5.b68834"
            ]
        ]
    },
    {
        "id": "2e6176b3.9ce01a",
        "type": "change",
        "z": "e2d5a234.d2c46",
        "name": "payload = payload.b",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "3395242d.5654cc"
            ]
        ]
    },
    {
        "id": "659774de.295cdc",
        "type": "rpi-gpio out",
        "z": "251f4adb.2bd746",
        "name": "Pin26: servo",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "44476a97.062544",
        "type": "delay",
        "z": "251f4adb.2bd746",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "c09265bf.b87078"
            ]
        ]
    },
    {
        "id": "c09265bf.b87078",
        "type": "template",
        "z": "251f4adb.2bd746",
        "name": "create stop data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "659774de.295cdc"
            ]
        ]
    },
    {
        "id": "b95c41a4.d3159",
        "type": "template",
        "z": "a9d7d1ca.ce4d8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "subflow1",
        "output": "str",
        "x": 140,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5ba664f0.ecd94c",
        "type": "template",
        "z": "696e250f.2063bc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "subflow2",
        "output": "str",
        "x": 140,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "302dd49f.bc446c",
        "type": "subflow:e2d5a234.d2c46",
        "z": "3227eaa8.784766",
        "name": "",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "d41ba16b.8afdb",
        "type": "template",
        "z": "3227eaa8.784766",
        "name": "create red data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": false,\n    \"b\": false\n}",
        "output": "json",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "302dd49f.bc446c"
            ]
        ]
    },
    {
        "id": "ace27091.fc0c2",
        "type": "template",
        "z": "3227eaa8.784766",
        "name": "create green data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": true,\n    \"b\": false\n}",
        "output": "json",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "302dd49f.bc446c"
            ]
        ]
    },
    {
        "id": "f0a2f310.c59a8",
        "type": "template",
        "z": "3227eaa8.784766",
        "name": "create blue data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": false,\n    \"b\": true\n}",
        "output": "json",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "302dd49f.bc446c"
            ]
        ]
    },
    {
        "id": "f4273d50.dafa5",
        "type": "template",
        "z": "3227eaa8.784766",
        "name": "create aqua data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": true,\n    \"b\": true\n}",
        "output": "json",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "302dd49f.bc446c"
            ]
        ]
    },
    {
        "id": "48bea01.17c086",
        "type": "template",
        "z": "3227eaa8.784766",
        "name": "create yellow data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": true,\n    \"b\": false\n}",
        "output": "json",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "302dd49f.bc446c"
            ]
        ]
    },
    {
        "id": "5eae655c.a6e64c",
        "type": "template",
        "z": "3227eaa8.784766",
        "name": "create pink data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": false,\n    \"b\": true\n}",
        "output": "json",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "302dd49f.bc446c"
            ]
        ]
    },
    {
        "id": "3d2d54ce.d4bfcc",
        "type": "template",
        "z": "3227eaa8.784766",
        "name": "create white data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": true,\n    \"b\": true\n}",
        "output": "json",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "302dd49f.bc446c"
            ]
        ]
    },
    {
        "id": "fc85413e.0ffd8",
        "type": "template",
        "z": "3227eaa8.784766",
        "name": "create off data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": false,\n    \"b\": false\n}",
        "output": "json",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "302dd49f.bc446c"
            ]
        ]
    },
    {
        "id": "c5cd2c09.04e4f",
        "type": "inject",
        "z": "3227eaa8.784766",
        "name": "red",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "d41ba16b.8afdb"
            ]
        ]
    },
    {
        "id": "6138a4b1.80717c",
        "type": "inject",
        "z": "3227eaa8.784766",
        "name": "green",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "ace27091.fc0c2"
            ]
        ]
    },
    {
        "id": "d3e474ee.4f77e8",
        "type": "inject",
        "z": "3227eaa8.784766",
        "name": "blue",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "f0a2f310.c59a8"
            ]
        ]
    },
    {
        "id": "620fbda2.445984",
        "type": "inject",
        "z": "3227eaa8.784766",
        "name": "yellow",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "48bea01.17c086"
            ]
        ]
    },
    {
        "id": "abee9434.5e1c88",
        "type": "inject",
        "z": "3227eaa8.784766",
        "name": "aqua",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "f4273d50.dafa5"
            ]
        ]
    },
    {
        "id": "4afbfd06.ea6494",
        "type": "inject",
        "z": "3227eaa8.784766",
        "name": "pink",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "5eae655c.a6e64c"
            ]
        ]
    },
    {
        "id": "4a58f957.5168f8",
        "type": "inject",
        "z": "3227eaa8.784766",
        "name": "white",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "3d2d54ce.d4bfcc"
            ]
        ]
    },
    {
        "id": "b1ec4f62.ecaa9",
        "type": "inject",
        "z": "3227eaa8.784766",
        "name": "off",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "fc85413e.0ffd8"
            ]
        ]
    },
    {
        "id": "693d1925.aa68a8",
        "type": "template",
        "z": "ef29a490.8c5248",
        "name": "create up data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "3",
        "output": "str",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "fc02bd1.f61ec4"
            ]
        ]
    },
    {
        "id": "30d44dd0.da1b72",
        "type": "template",
        "z": "ef29a490.8c5248",
        "name": "create middle data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "7",
        "output": "str",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "fc02bd1.f61ec4"
            ]
        ]
    },
    {
        "id": "b104d7d2.2a5ad8",
        "type": "template",
        "z": "ef29a490.8c5248",
        "name": "create down data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "11",
        "output": "str",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "fc02bd1.f61ec4"
            ]
        ]
    },
    {
        "id": "3d00297a.64e746",
        "type": "inject",
        "z": "ef29a490.8c5248",
        "name": "up",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "693d1925.aa68a8"
            ]
        ]
    },
    {
        "id": "d5fa48b4.27e5d8",
        "type": "inject",
        "z": "ef29a490.8c5248",
        "name": "middle",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "30d44dd0.da1b72"
            ]
        ]
    },
    {
        "id": "32b8ffb5.531b6",
        "type": "inject",
        "z": "ef29a490.8c5248",
        "name": "down",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "b104d7d2.2a5ad8"
            ]
        ]
    },
    {
        "id": "fc02bd1.f61ec4",
        "type": "subflow:251f4adb.2bd746",
        "z": "ef29a490.8c5248",
        "name": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "941bc69.69aba38",
        "type": "inject",
        "z": "bb6967e4.8c1998",
        "name": "generate caption",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "84db8dda.5e6b2"
            ]
        ]
    },
    {
        "id": "24bf0445.58626c",
        "type": "debug",
        "z": "bb6967e4.8c1998",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c951ec3.8acb1",
        "type": "camerapi-takephoto",
        "z": "bb6967e4.8c1998",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "3be5ab68.9db3a4"
            ]
        ]
    },
    {
        "id": "84db8dda.5e6b2",
        "type": "camerapi-takephoto",
        "z": "bb6967e4.8c1998",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "29e8fd3.c1e8d02"
            ]
        ]
    },
    {
        "id": "94a892ba.3822b",
        "type": "inject",
        "z": "bb6967e4.8c1998",
        "name": "Classify photo",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "6a8d5cf6.9209b4"
            ]
        ]
    },
    {
        "id": "6a8d5cf6.9209b4",
        "type": "camerapi-takephoto",
        "z": "bb6967e4.8c1998",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 280,
        "y": 400,
        "wires": [
            [
                "37df86fc.8a5aaa"
            ]
        ]
    },
    {
        "id": "cc925e6.cc601a",
        "type": "comment",
        "z": "bb6967e4.8c1998",
        "name": "paste API key ->",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "92ad7dea.3fc23",
        "type": "change",
        "z": "bb6967e4.8c1998",
        "name": "set data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "result.images[0].classifiers[0].classes[0].class",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "24675d74.e22d72"
            ]
        ]
    },
    {
        "id": "24675d74.e22d72",
        "type": "debug",
        "z": "bb6967e4.8c1998",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "7c4e1195.8c86b",
        "type": "comment",
        "z": "bb6967e4.8c1998",
        "name": "(1) Camera test on dashboard",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "64b3b879.d0fd68",
        "type": "comment",
        "z": "bb6967e4.8c1998",
        "name": "(2) Generate caption from photo",
        "info": "",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "59568283.fcf78c",
        "type": "comment",
        "z": "bb6967e4.8c1998",
        "name": "(3) Classify photo",
        "info": "",
        "x": 120,
        "y": 360,
        "wires": []
    },
    {
        "id": "38ecc7d.d441f38",
        "type": "debug",
        "z": "3bbf7a3e.009356",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "8bb311a3.4b315",
        "type": "template",
        "z": "3bbf7a3e.009356",
        "name": "create text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hello world!",
        "output": "str",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "8a97ac39.46fb8"
            ]
        ]
    },
    {
        "id": "edb190e.be26b7",
        "type": "inject",
        "z": "3bbf7a3e.009356",
        "name": "translate",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "8bb311a3.4b315"
            ]
        ]
    },
    {
        "id": "67c1ddc5.eb6dd4",
        "type": "comment",
        "z": "3bbf7a3e.009356",
        "name": "(1) Google translate",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "80918bd3.966588",
        "type": "comment",
        "z": "3bbf7a3e.009356",
        "name": "(2) Watson Language Translator",
        "info": "",
        "x": 170,
        "y": 220,
        "wires": []
    },
    {
        "id": "725b9f2a.a519c",
        "type": "debug",
        "z": "3bbf7a3e.009356",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "49bd3f77.a4e8a",
        "type": "template",
        "z": "3bbf7a3e.009356",
        "name": "create text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hello world!",
        "output": "str",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "71db1581.e0b9bc"
            ]
        ]
    },
    {
        "id": "8a71dd63.a44fd",
        "type": "inject",
        "z": "3bbf7a3e.009356",
        "name": "translate",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "49bd3f77.a4e8a"
            ]
        ]
    },
    {
        "id": "ca9b3e12.e4e04",
        "type": "comment",
        "z": "3bbf7a3e.009356",
        "name": "paste API key ->",
        "info": "",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c94b479.8059dc",
        "type": "switch",
        "z": "f7e611e7.f7e29",
        "name": "It contains face?",
        "property": "payload.0",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "769a3594.00829c",
                "7e957444.336a3c"
            ]
        ]
    },
    {
        "id": "5d8b51d7.ab75f",
        "type": "opencv",
        "z": "f7e611e7.f7e29",
        "detect": "FACE_CASCADE",
        "output": "json",
        "name": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "7c94b479.8059dc",
                "bffb253e.09a4e8"
            ]
        ]
    },
    {
        "id": "bffb253e.09a4e8",
        "type": "camerapi-takephoto",
        "z": "f7e611e7.f7e29",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "imageeffect": "none",
        "name": "",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "5d8b51d7.ab75f"
            ]
        ]
    },
    {
        "id": "bf398eba.d3dcf",
        "type": "inject",
        "z": "f7e611e7.f7e29",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "bffb253e.09a4e8"
            ]
        ]
    },
    {
        "id": "9128f324.4388e",
        "type": "subflow:e2d5a234.d2c46",
        "z": "f7e611e7.f7e29",
        "name": "",
        "x": 570,
        "y": 720,
        "wires": []
    },
    {
        "id": "27354a13.210bf6",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create red data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": false,\n    \"b\": false\n}",
        "output": "json",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "9128f324.4388e"
            ]
        ]
    },
    {
        "id": "7a5c77dc.1a2678",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create green data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": true,\n    \"b\": false\n}",
        "output": "json",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "9128f324.4388e"
            ]
        ]
    },
    {
        "id": "1bf0a115.970c5f",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create blue data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": false,\n    \"b\": true\n}",
        "output": "json",
        "x": 340,
        "y": 640,
        "wires": [
            [
                "9128f324.4388e"
            ]
        ]
    },
    {
        "id": "75b88a28.b31fd4",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create aqua data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": true,\n    \"b\": true\n}",
        "output": "json",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "9128f324.4388e"
            ]
        ]
    },
    {
        "id": "2aae5e8a.a1d6b2",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create yellow data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": true,\n    \"b\": false\n}",
        "output": "json",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "9128f324.4388e"
            ]
        ]
    },
    {
        "id": "7c03d646.ae56e8",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create pink data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": false,\n    \"b\": true\n}",
        "output": "json",
        "x": 340,
        "y": 820,
        "wires": [
            [
                "9128f324.4388e"
            ]
        ]
    },
    {
        "id": "c23e9729.642ab8",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create white data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": true,\n    \"b\": true\n}",
        "output": "json",
        "x": 350,
        "y": 880,
        "wires": [
            [
                "9128f324.4388e"
            ]
        ]
    },
    {
        "id": "293b052e.e2fbca",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create off data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": false,\n    \"b\": false\n}",
        "output": "json",
        "x": 340,
        "y": 940,
        "wires": [
            [
                "9128f324.4388e"
            ]
        ]
    },
    {
        "id": "6ccd0b10.250bf4",
        "type": "inject",
        "z": "f7e611e7.f7e29",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "5549ca22.2a83f4"
            ]
        ]
    },
    {
        "id": "5549ca22.2a83f4",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "27354a13.210bf6",
                "6d49d0aa.2cd0d"
            ]
        ]
    },
    {
        "id": "6d49d0aa.2cd0d",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "7a5c77dc.1a2678",
                "d59973db.5d512"
            ]
        ]
    },
    {
        "id": "d59973db.5d512",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 640,
        "wires": [
            [
                "1bf0a115.970c5f",
                "e8fb62a0.6e3fb"
            ]
        ]
    },
    {
        "id": "e8fb62a0.6e3fb",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 700,
        "wires": [
            [
                "2aae5e8a.a1d6b2",
                "87673774.8309c8"
            ]
        ]
    },
    {
        "id": "87673774.8309c8",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 760,
        "wires": [
            [
                "75b88a28.b31fd4",
                "f66d2f33.ec2ce"
            ]
        ]
    },
    {
        "id": "f66d2f33.ec2ce",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 820,
        "wires": [
            [
                "7c03d646.ae56e8",
                "d7fecf4e.11e09"
            ]
        ]
    },
    {
        "id": "d7fecf4e.11e09",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 880,
        "wires": [
            [
                "c23e9729.642ab8",
                "88b36b52.b88438"
            ]
        ]
    },
    {
        "id": "88b36b52.b88438",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 140,
        "y": 940,
        "wires": [
            [
                "293b052e.e2fbca"
            ]
        ]
    },
    {
        "id": "7e957444.336a3c",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create up data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "3",
        "output": "str",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "ab22cd83.be27c"
            ]
        ]
    },
    {
        "id": "140329c5.369886",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create down data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "11",
        "output": "str",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "ab22cd83.be27c"
            ]
        ]
    },
    {
        "id": "ab22cd83.be27c",
        "type": "subflow:251f4adb.2bd746",
        "z": "f7e611e7.f7e29",
        "name": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "769a3594.00829c",
        "type": "delay",
        "z": "f7e611e7.f7e29",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "140329c5.369886"
            ]
        ]
    },
    {
        "id": "4073cf3c.564",
        "type": "comment",
        "z": "f7e611e7.f7e29",
        "name": "(1) Wave when detecting face",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "60f37cac.d44744",
        "type": "comment",
        "z": "f7e611e7.f7e29",
        "name": "(2) Blink LED",
        "info": "",
        "x": 110,
        "y": 420,
        "wires": []
    },
    {
        "id": "9200f887.cd2ee8",
        "type": "inject",
        "z": "f7e611e7.f7e29",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "fb90e95.898a618"
            ]
        ]
    },
    {
        "id": "bf134a7e.695498",
        "type": "openjtalk",
        "z": "f7e611e7.f7e29",
        "name": "",
        "x": 820,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4a3bd5be.8ac10c",
        "type": "comment",
        "z": "f7e611e7.f7e29",
        "name": "(3) Speak IP address",
        "info": "",
        "x": 130,
        "y": 1040,
        "wires": []
    },
    {
        "id": "6df8c332.32541c",
        "type": "openjtalk",
        "z": "1bffdaa7.d437a5",
        "name": "",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "7f9d18b1.3c9e68",
        "type": "inject",
        "z": "1bffdaa7.d437a5",
        "name": "greeting",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "9461a10c.7485a"
            ]
        ]
    },
    {
        "id": "9461a10c.7485a",
        "type": "template",
        "z": "1bffdaa7.d437a5",
        "name": "create sentence",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "こんにちは、僕の名前はTJBotです！",
        "output": "str",
        "x": 360,
        "y": 60,
        "wires": [
            [
                "6df8c332.32541c"
            ]
        ]
    },
    {
        "id": "29e8fd3.c1e8d02",
        "type": "image-caption-generator",
        "z": "bb6967e4.8c1998",
        "service": "19f31f76.7eda21",
        "method": "predict",
        "predict_body": "",
        "predict_bodyType": "str",
        "name": "",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "24bf0445.58626c"
            ]
        ]
    },
    {
        "id": "3be5ab68.9db3a4",
        "type": "base64",
        "z": "bb6967e4.8c1998",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "be56610d.c08bc"
            ]
        ]
    },
    {
        "id": "71db1581.e0b9bc",
        "type": "watson-translator",
        "z": "3bbf7a3e.009356",
        "name": "",
        "action": "translate",
        "basemodel": "en-tr",
        "domain": "general",
        "srclang": "en",
        "destlang": "ja",
        "password": "",
        "apikey": "",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "ja",
        "basemodelhidden": "en-tr",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "neural": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/language-translator/api",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "725b9f2a.a519c"
            ]
        ]
    },
    {
        "id": "37df86fc.8a5aaa",
        "type": "visual-recognition-v3",
        "z": "bb6967e4.8c1998",
        "name": "",
        "vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
        "image-feature": "classifyImage",
        "lang": "en",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "92ad7dea.3fc23"
            ]
        ]
    },
    {
        "id": "f368a93.553f358",
        "type": "ui_button",
        "z": "bb6967e4.8c1998",
        "name": "",
        "group": "4670b6d1.27d838",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "4c951ec3.8acb1"
            ]
        ]
    },
    {
        "id": "be56610d.c08bc",
        "type": "ui_template",
        "z": "bb6967e4.8c1998",
        "group": "4670b6d1.27d838",
        "name": "photo",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html></div>\n<img width=\"320\" height=\"240\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 570,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c16ef4e0.5b20c8",
        "type": "comment",
        "z": "f7e611e7.f7e29",
        "name": "(4) Shutdown Raspberry Pi",
        "info": "",
        "x": 150,
        "y": 1280,
        "wires": []
    },
    {
        "id": "45ba9275.beb5cc",
        "type": "inject",
        "z": "f7e611e7.f7e29",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 1340,
        "wires": [
            [
                "3f52d111.d601de"
            ]
        ]
    },
    {
        "id": "f262b2ed.7ac95",
        "type": "debug",
        "z": "f7e611e7.f7e29",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3f52d111.d601de",
        "type": "exec",
        "z": "f7e611e7.f7e29",
        "command": "sudo poweroff",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 330,
        "y": 1340,
        "wires": [
            [
                "f262b2ed.7ac95"
            ],
            [],
            []
        ]
    },
    {
        "id": "84061108.e8203",
        "type": "http request",
        "z": "ef7b8d90.83f31",
        "name": "get image data",
        "method": "GET",
        "ret": "bin",
        "url": "",
        "tls": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "416bd5ba.a1544c"
            ]
        ]
    },
    {
        "id": "199cea6d.1fee56",
        "type": "debug",
        "z": "ef7b8d90.83f31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "416bd5ba.a1544c",
        "type": "image-caption-generator",
        "z": "ef7b8d90.83f31",
        "service": "6a4926b0.cde0e8",
        "method": "predict",
        "predict_body": "",
        "predict_bodyType": "str",
        "name": "",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "883baa5d.084768"
            ]
        ]
    },
    {
        "id": "63635bce.ccfb24",
        "type": "change",
        "z": "ef7b8d90.83f31",
        "name": "set image url",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "tweet.entities.media[0].media_url_https",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "c6b0a6e8.2d51d8"
            ]
        ]
    },
    {
        "id": "b93018a5.180958",
        "type": "openjtalk",
        "z": "ef7b8d90.83f31",
        "name": "",
        "x": 360,
        "y": 520,
        "wires": []
    },
    {
        "id": "7187e081.a70dc",
        "type": "switch",
        "z": "ef7b8d90.83f31",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "手",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "頭",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "8d3d41d5.0f6f9",
                "9986fdb8.f02be"
            ],
            [
                "cd4cdd05.2800b",
                "f3822478.1a6c78"
            ],
            [
                "3d6dd38a.5d551c"
            ]
        ]
    },
    {
        "id": "3d6dd38a.5d551c",
        "type": "debug",
        "z": "ef7b8d90.83f31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 220,
        "wires": []
    },
    {
        "id": "c6b0a6e8.2d51d8",
        "type": "switch",
        "z": "ef7b8d90.83f31",
        "name": "filter null url",
        "property": "url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "84061108.e8203"
            ]
        ]
    },
    {
        "id": "9986fdb8.f02be",
        "type": "template",
        "z": "ef7b8d90.83f31",
        "name": "create up data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "3",
        "output": "str",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "2f852fcc.8b733"
            ]
        ]
    },
    {
        "id": "c8c152a7.f44c5",
        "type": "template",
        "z": "ef7b8d90.83f31",
        "name": "create down data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "11",
        "output": "str",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "2f852fcc.8b733"
            ]
        ]
    },
    {
        "id": "2f852fcc.8b733",
        "type": "subflow:251f4adb.2bd746",
        "z": "ef7b8d90.83f31",
        "name": "",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "8d3d41d5.0f6f9",
        "type": "delay",
        "z": "ef7b8d90.83f31",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "c8c152a7.f44c5"
            ]
        ]
    },
    {
        "id": "749e0cac.c536a4",
        "type": "subflow:e2d5a234.d2c46",
        "z": "ef7b8d90.83f31",
        "name": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "f3822478.1a6c78",
        "type": "template",
        "z": "ef7b8d90.83f31",
        "name": "create red data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": true,\n    \"g\": false,\n    \"b\": false\n}",
        "output": "json",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "749e0cac.c536a4"
            ]
        ]
    },
    {
        "id": "ec5b454a.559568",
        "type": "template",
        "z": "ef7b8d90.83f31",
        "name": "create off data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"r\": false,\n    \"g\": false,\n    \"b\": false\n}",
        "output": "json",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "749e0cac.c536a4"
            ]
        ]
    },
    {
        "id": "cd4cdd05.2800b",
        "type": "delay",
        "z": "ef7b8d90.83f31",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "ec5b454a.559568"
            ]
        ]
    },
    {
        "id": "97c80acb.6e03c8",
        "type": "comment",
        "z": "ef7b8d90.83f31",
        "name": "(1) Control by tweet",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "d2b2d082.340ce",
        "type": "comment",
        "z": "ef7b8d90.83f31",
        "name": "(2) Explain about image in tweet",
        "info": "",
        "x": 150,
        "y": 340,
        "wires": []
    },
    {
        "id": "8a97ac39.46fb8",
        "type": "google-translate",
        "z": "3bbf7a3e.009356",
        "name": "",
        "to": "ja",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "38ecc7d.d441f38"
            ]
        ]
    },
    {
        "id": "883baa5d.084768",
        "type": "google-translate",
        "z": "ef7b8d90.83f31",
        "name": "",
        "to": "ja",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "199cea6d.1fee56",
                "b93018a5.180958"
            ]
        ]
    },
    {
        "id": "4039926d.9a8b8c",
        "type": "switch",
        "z": "f7e611e7.f7e29",
        "name": "is IP address?",
        "property": "payload.address",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^([0-9]+\\.){3}[0-9]+$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 1180,
        "wires": [
            [
                "4212c838.3e1128"
            ],
            [
                "bcd87027.4321"
            ]
        ]
    },
    {
        "id": "4212c838.3e1128",
        "type": "template",
        "z": "f7e611e7.f7e29",
        "name": "create sentence",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "IPアドレスは、{{payload.address}}です。",
        "output": "str",
        "x": 340,
        "y": 1160,
        "wires": [
            [
                "7b119b91.666784"
            ]
        ]
    },
    {
        "id": "568a26a9.ec71b8",
        "type": "split",
        "z": "f7e611e7.f7e29",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "4039926d.9a8b8c"
            ]
        ]
    },
    {
        "id": "f92dfddb.71043",
        "type": "join",
        "z": "f7e611e7.f7e29",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "bf134a7e.695498"
            ]
        ]
    },
    {
        "id": "bcd87027.4321",
        "type": "change",
        "z": "f7e611e7.f7e29",
        "name": "null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1200,
        "wires": [
            [
                "f92dfddb.71043"
            ]
        ]
    },
    {
        "id": "fb90e95.898a618",
        "type": "hostip",
        "z": "f7e611e7.f7e29",
        "name": "Host IP",
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "568a26a9.ec71b8"
            ]
        ]
    },
    {
        "id": "7b119b91.666784",
        "type": "change",
        "z": "f7e611e7.f7e29",
        "name": "dot to ten",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ".",
                "fromt": "str",
                "to": "点、",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1160,
        "wires": [
            [
                "f92dfddb.71043"
            ]
        ]
    },
    {
        "id": "d46a15cd.e84dd8",
        "type": "websocket in",
        "z": "ef7b8d90.83f31",
        "name": "#tjbot",
        "server": "",
        "client": "efcc6f7c.a2031",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "7187e081.a70dc"
            ]
        ],
        "icon": "node-red/twitter.png"
    },
    {
        "id": "eeb89215.37bb1",
        "type": "websocket in",
        "z": "ef7b8d90.83f31",
        "name": "#tjbot",
        "server": "",
        "client": "efcc6f7c.a2031",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "63635bce.ccfb24"
            ]
        ],
        "icon": "node-red/twitter.png"
    }
]
